body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background:#c1c3c5;
  color:#fff;
}

.story ol {
  
  list-style: none;
}
a,li,p{
  font-size:20px;
}
.btn{
  
  text-transform: uppercase;
  margin:25px; 
  height:55px;
  width:200px;
  font-size: 20px;
  color:#fff;
  background:#ad1f36;
  border:none;
  box-shadow: 1px 2px 2px 1px #9da0a2;
}
.upload{
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.custome-input-btn{
  width:300px;
  font-size:20px;
  box-shadow:0px 1px 0px 0px #9da0a2;
}

.custome-input-btn::-webkit-file-upload-button{
border:none;
height:40px;
background:#ad1f36;
  color:#fff;
}
a {
  color: #00B7FF;
}
